html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
font-family: "PT Sans", bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav a {
  font-family: "PT Sans", bold;
  font-size: 1.125rem;
  color: #852440;
}

nav a:hover {
  color: #3f1622;
}

img {
  width: 100%
}

p + time {

}

.varieties {
  list-style-type: lower-greek;
}
